// slide-down
.slide-down-enter-active, .slide-down-leave-active,
.slide-up-enter-active, .slide-up-leave-active {
  transition: all 0.3s ease;
}

.slide-down-enter-from, .slide-down-leave-to {
  opacity: 0;
  transform: translateY(-40px);
}

.slide-up-enter-from, .slide-up-leave-to {
  opacity: 0;
  transform: translateY(40px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.shake {
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  
  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

.shake-y {
  animation: shakeY 0.5s ease-in-out;
}

@keyframes shakeY {
  0% { transform: translateY(-2px); }
  25% { transform: translateY(2px); }
  50% { transform: translateY(-2px); }
  75% { transform: translateY(2px); }
  100% { transform: translateY(-2px); }
}

@keyframes position-flashing-border {
  0% {
    border: 1px solid var(--border-base);
  }

  50% {
    border: 1px solid var(--danger);
  }

  100% {
    border: 1px solid var(--border-base);
  }
}

@keyframes position-flashing-color {
  0% {
    color: var(--white);
  }

  50% {
    color: var(--danger);
  }

  100% {
    color: var(--white);
  }
}

@keyframes price-flashing-up {
  0% {
    box-shadow: 0 0 4px var(--price-up) inset;
  }
}

@keyframes price-flashing-down {
  0% {
    box-shadow: 0 0 4px var(--price-down) inset;
  }
}

@keyframes hover-icon {
  0% {
    transform: scale(1) rotate(2deg);
  }

  50% {
    transform: scale(1) rotate(-2deg);
  }

  100% {
    transform: scale(1) rotate(2deg);
  }
}

@keyframes snowing {
  0% {
    opacity: 0;
  }

  25% {
    transform: translate(-16px, 25%);
    opacity: 1;
  }

  50% {
    transform: translate(16px, 50%);
  }

  75% {
    transform: translate(-16px, 75%);
  }

  100% {
    transform: translate(0, 100%);
    opacity: 0;
  }
}

@keyframes raining {
  100% {
    transform: translate(-8px, 100%);
    opacity: 0;
  }
}