// slide-down
.slide-down-enter-active, .slide-down-leave-active {
  transition: all 0.3s ease;
}

.slide-down-enter-from, .slide-down-leave-to {
  opacity: 0;
  transform: translateY(-40px);
}

.shake {
  animation: shake 0.8s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  
  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

.shake-y {
  animation: shakeY 0.8s ease-in-out;
}

@keyframes shakeY {
  0% { transform: translateY(-4px); }
  20% { transform: translateY(4px); }
  40% { transform: translateY(-4px); }
  60% { transform: translateY(4px); }
  80% { transform: translateY(-4px); }
}