:root {
  --brand-primary:        rgba(126, 113, 221, 1);
  --brand-primary-bg-lv1: rgba(126, 113, 221, 0.1);
  --brand-primary-bg-lv2: rgba(126, 113, 221, 0.08);
  --brand-primary-bg-lv3: rgba(126, 113, 221, 0.05);
  --hover-brand-primary:  rgba(102, 89, 197, 1);

  --white:           #ffffff;
  --black:           #000000;
  --black-light:     #222222;
  --gray-dark:       #444444;
  --gray-border:     #e0e0e0;
  --gray-light:      #aaaaaa;
  --success:         #4caf50;
  --danger:          #c4506b;
  --danger-light:    rgba(247, 73, 113, 1);
  --color-key:       var(--gray-dark);
  --color-value:     var(--black-light);
}