:root {
  --brand-primary:          rgb(48, 129, 235, 1);
  --brand-primary-hover:    rgba(46, 105, 182, 1);
  --brand-primary-hover-bg: rgba(46, 105, 182, 0.2);

  --bitcoin:             #ffbb11;
  --white:               #ffffff;
  --black:               #000000;
  --black-dark:          #141414;
  --black-light:         #222222;
  --gray-dark:           #444444;
  --gray:                #e0e0e0;
  --gray-light:          #bbbbbb;
  --almost-white:        #fafafa;
  --success:             var(--brand-primary);
  --danger:              #aa0000;
  --price-up-upbit:      #d60000;
  --price-down-upbit:    #0051c7;
  --price-up-bybit:      rgba(36, 175, 100, 1);
  --price-down-bybit:    rgba(240, 64, 64, 1);
  --danger-light:        rgba(176, 0, 0, 0.6);

  --text-stress:      var(--black-light);
  --text-base:        var(--gray-dark);
}

#app {
  color:                 var(--text-base);
  --text-stress:         var(--black-light);
  --text-base:           var(--gray-dark);
  --text-light:          var(--gray-light);
  --border-base:         var(--gray);
  --border-light:        var(--gray-light);
  --background-base:     var(--white);
  --background-light:    rgba(0, 0, 0, 0.1);
  --price-up:            var(--price-up-upbit);
  --price-down:          var(--price-down-upbit);
  --price-up-bg:         rgba(214, 0, 0, 0.1);
  --price-down-bg:       rgba(0, 81, 199, 0.1);

  &.dark {
    --brand-primary:     rgba(82, 163, 235, 1);
    --text-stress:       var(--white);
    --text-base:         var(--gray-light);
    --text-light:        var(--gray-dark);
    --border-base:       var(--black-light);
    --border-light:      var(--gray);
    --background-base:   var(--black-dark);
    --background-light:  rgba(255, 255, 255, 0.1);

    --price-up:          var(--price-up-bybit);
    --price-down:        var(--price-down-bybit);
    --price-up-bg:       rgba(36, 175, 100, 0.1);
    --price-down-bg:     rgba(240, 64, 64, 0.1);
  }
}