:root {
  --brand-primary:        rgba(126, 113, 221, 1);
  --brand-primary-bg-lv1: rgba(126, 113, 221, 0.1);
  --brand-primary-bg-lv2: rgba(126, 113, 221, 0.08);
  --brand-primary-bg-lv3: rgba(126, 113, 221, 0.05);
  --hover-brand-primary:  rgba(102, 89, 197, 1);

  --white:            #ffffff;
  --black:            #000000;
  --black-dark:       #111111;
  --black-light:      #222222;
  --gray-dark:        #444444;
  --gray:             #e0e0e0;
  --gray-light:       #aaaaaa;
  --almost-white:     #fafafa;
  --success:          var(--brand-primary);
  --danger:           #c4506b;
  --price-up-upbit:   #d60000;
  --price-same-upbit: #2b2b2b;
  --price-down-upbit: #0051c7;
  --danger-light:     rgba(247, 73, 113, 1);

  --text-dark:        var(--black-light);
  --text-base:        var(--gray-dark);
}

#app {
  color:                 var(--text-base);
  --text-dark:           var(--black-light);
  --text-base:           var(--gray-dark);
  --border-base:         var(--gray);
  --background-base:     var(--white);

  &.dark {
    --text-dark:         var(--white);
    --text-base:         var(--gray-light);
    --border-base:       var(--black-light);
    --background-base:   var(--black-dark);
  }
}