table {
  border-spacing: 0;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid var(--border-base);
  }

  th {
    white-space: nowrap;
    border-top: 1px solid var(--border-base);
    font-weight: initial;

    .sort-icons {
      position: relative;
      margin-left: 4px;
      padding-right: 8px;

      @media (max-width: 767px) {
        padding-right: 6px;
      }

      i {
        color: var(--gs-bb);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &.desc,
    &.asc {
      color: var(--text-stress);
    }

    &.desc .fa-sort-down,
    &.asc .fa-sort-up {
      color: var(--gs-44);
    }
  }
}

.clickable-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background: var(--background-light);

    i {
      color: var(--text-stress)
    }
  }
}

.global-loading {
  z-index: 10 !important;
  position: fixed;
}