table {
  border-spacing: 0;

  td,
  th {
    border-bottom: 1px solid var(--border-base);
  }

  th {
    white-space: nowrap;
    border-top: 1px solid var(--border-base);
    font-weight: initial;

    .sort-icons {
      position: relative;
      margin-left: 4px;
      padding-right: 8px;

      @media (max-width: 767px) {
        padding-right: 4px;
      }

      i {
        color: var(--gs-bb);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &.desc,
    &.asc {
      color: var(--text-stress);
    }

    &.desc .fa-sort-down,
    &.asc .fa-sort-up {
      color: var(--gs-44);
    }
  }
}

.clickable-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;

  &:hover {
    background: var(--background-light);

    i {
      color: var(--text-stress)
    }
  }
}

.sub-header-items {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  .sub-header-item {
    padding: 8px;
    cursor: pointer;
    border-bottom: 2px solid transparent;

    &.selected {
      color: var(--text-stress);
      font-weight: 700;
      border-bottom: 2px solid var(--brand-primary);
    }
  }
}