@import 'views';
@import 'variables'; // Should be imported in advance to anothers
@import 'animation';
@import 'base';
@import 'button';
@import 'components';
@import 'font-awesome';
@import 'form';
@import 'flex';
@import 'generics';
@import 'text';

.no-touch {
  pointer-events: none;
}

.hidden {
  visibility: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.no-scrollbar {
  &::-webkit-scrollbar {
      width: 0;
      height: 0;
      background-color: rgba(0, 0, 0, 0);
  }
          
  &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0);
  }
}

.pretty-scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    background: var(--white);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--brand-primary);
    border-radius: 4px;
  }
}

u {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

.f-italic {
  font-style: italic;
}

.f-mono {
  font-family: Arial, Helvetica, sans-serif;
}