.bg-status-orange {
  background-color: orange;
}

.bg-status-blue {
  background-color: blue;
}

.bg-status-purple {
  background-color: purple;
}

.bg-status-white {
  background-color: white;
  border: 1px solid black;
}

.bg-status-brown {
  background-color: var(--danger);
}

.bg-status-gray {
  background-color: gray;
}

.bg-outline-success {
  background-color: white;
  border: 1px solid var(--shipment-shipped-green);
  color: var(--shipment-shipped-green);
}

.bg-info {
  background-color: #17a2b8;
}